#text-search-extension {

	&.tse-no-results {
		padding-bottom: 0px;

		#tse-search-wrap {
			border-bottom: 0px;
		}

		ul {
			border-bottom: 0px;
		}
	}

	position: fixed;
	top: 0;
	right: 3px;
	width: 290px;
	z-index: 1000000;
	overflow: hidden;
	border-radius: 0px 0px 3px 3px;
	background: rgb(236, 236, 236);
	padding: 5px 0px 10px 0px;
	border: 1px solid silver;
	border-top: 0px;

	&.tse-hide-text-search {
		display: none;
	}

	#tse-search-wrap {
		padding: 0px 0px 5px 5px;
		border-bottom: 1px solid silver;

		#tse-search-wrap-inner {

			display: inline-block;
			position: relative;

			input {
				width: 261px;
				height: 28px;
				vertical-align: top;
				font-size: 16px;
				border-radius: 3px;
				padding: 2px 55px 2px 7px;
				margin: 0px;
				border: 1px solid silver;
				box-sizing: border-box;
				font-family: 'Lucida Grande';
			}

			#tse-search-index-wrap {
				position: absolute;
				top: 8px;
				right: 0px;
				margin: 0px 5px;
				color: rgb(180, 180, 180);
				font-size: 14px;
				line-height: 14px;
				font-family: 'Lucida Grande';

				#tse-search-index {
					display: inline-block;
					margin-right: 5px;
				}

				#tse-search-total {
					display: inline-block;
					margin-left: 5px;
				}
			}
		}

		i {
			display: inline-block;
			color: #777;
			border-radius: 50%;
			background: transparent;
			border: 1px solid transparent;
			padding: 0px 3px 1px 4px;
			position: relative;
			top: 4px;
			left: 2px;
			width: 19px;
			line-height: 16px;
			font-size: 16px;
			height: 19px;
			box-sizing: border-box;
			font-family: Times;
			font-style: normal;
			vertical-align: top;
			cursor: pointer;

			&:hover, &:focus {
				color: white;
				background: salmon;
			}

			&:after {
				content:'×';
			}
		}
	}

	ul {
		margin: 0px;
		padding: 0px 10px;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 350px;
		border-bottom: 1px solid silver;

		li {
			margin: 0;
			padding: 10px;
			cursor: pointer;
			list-style-type: none;
			background: white;
			word-wrap: break-word;
			border: 1px solid grey;
			border-bottom: 0px;

			&:first-child {
				border-top: 0px;
			}

			span {
				font-weight: bold;
			}

			.ts-ce-hl {
				background: yellow !important;
			}

			&.tse-selected {
				background: rgb(213, 245, 255);

				a {
					border: 1px solid grey;
					border-radius: 3px;
					background-color: white;
				}
			}

			a {
				display: block;
				font-size: 12px;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 240px;
				white-space: nowrap;
				border: 1px solid transparent;
				padding: 2px 4px;
				margin-top: 4px;
			}

			.tse-li-inner {
				display: inline-block;
			}
		}
	}
}

.ts-ce-hl {
	background: orange !important;
}