#text-search-extension {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  max-height: 400px;
  z-index: 1000000;
  background-color: white;
  overflow: auto;
}
#text-search-extension.hide-text-search {
  display: none;
}
#text-search-extension li {
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
  cursor: pointer;
  list-style-type: none;
}
#text-search-extension li span {
  font-weight: bold;
}
#text-search-extension li .ts-ce-hl {
  background: white !important;
}
#text-search-extension li.selected {
  background: lightblue;
}
.ts-ce-hl {
  background: yellow !important;
}
